 #top-bar {
    width: 1000px;
    margin: 0 auto;
    height: 40px;
    margin: 0 auto;
}

#logo {
    margin-top: 8px;
    width: 100px;
    float: left;
    margin-right: 8px;
}
#signin-image {
    width: 25px;
    margin: 12px 15px;
    float: left;
}
#signin-text {
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 14px;
    padding-right: 50px;
}
#wigglyline {
    float: left;
    height: 40px;
}
#bell {
    height: 25px;
    margin: 9px 8px 0 8px;
}
#bell-div {
    float: left;
}
#more-arrow {
    width: 18px;
    margin-left: 13px;
}
#search-box {
    background-color: #E4E4E4;
    border: none;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 0px;
    float: left;
}
#magnifying-glass{
    width: 27px;
    margin-top: 5px;

}
#local-news {
    border: 1px #BB4545 solid;
    float: right;
    width:230px;
    padding: 9px 0px 0 12px;
    margin: 5px 10px 0 0;
}
#local-news img{
    height: 40px;

}
#local-news a {
    color: white;
    text-decoration: none;
    font-size: 26px;
    position: relative;
    top: -15px;
}
#local-news a:hover  {
    text-decoration: underline;
}
#menu-bar {
    width: 1000px;
    margin: 0 auto;
}
#menu-bar-2-container {
    background-color: #A91717;
    width: 100%;
}
#menu-bar-2 {
    width: 1000px;
    margin: 0 auto;
    height: 30px;
}
#menu-bar-2 a {
   color: white;
   text-decoration: none;
   margin-top: 5px;
   padding: 0 10px;
   border-right: 1px solid #BB4545;
   font-size: 15px;
   position: relative;
   top: 8px;
}
#menu-bar-2 a:hover {
    text-decoration: underline;
}
#down-arrow {
    height: 12px;
    position: relative;
    top: 9px;
}
#page-container {
    width: 1000px;
    margin: 0 auto;
}
#article-summary {
    color: #5a5a5a;
    width: 250px;
    float: left;

}


#article-summary a:hover {
    color: #1167a8;

}
#article-container {
    float: left;
    width: 670px;
    border-right: 1px solid #CCCCCC;
    padding-right: 20px;
}
#main-article-image {
    width: 400px;
    margin-left: 20px;
}
#article-hr {
    border-top:1px solid #a91717;
    width: 50px
}
#watch-listen {
    margin-left: 20px;
    float: right;
    width: 280px;
}
.no-border {
    border-left: none;
}
.date {
    color: #5a5a5a;
}
.clock {
    height: 15px;
    position: relative;
    top: 2px;
}
.article-side-image {
    float: left;
    width: 100px;
    margin-right: 10px;
}
.topbar-section {
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;
}
.topbar-menu {
    font-weight: bold;
    font-size: 90%;
    padding: 13px 15px 0 15px;
    height: 27px;
}
.clear {
    clear: both;
}
.menu-bar-container {
    border-top: 1px solid #CCCCCC;
    background-color: #bd150c;
    width: 100%;
    height: 70px;
}
.no-border {
    border: none !important;
    padding: 0;
}
.border-right {
    border-right: 1px solid #CCCCCC;
}
.article-link {
    color: black;
    text-decoration: none;
}
.watch-listen-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.watch-listen-link:hover {
    color: #1167a8;
}
.side-article {
    float: right;
    width: 170px;
    position: relative;
    top: -4px
}
.topic-link {
    text-decoration: none;
    color: #a91717;
    border-left: 1px #CCCCCC solid;
    padding-left: 10px;

}
.topic-link:hover {
    color: #1167a8;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: normal;
    padding-top: 10px;
    float: left;
}
h2 {
    font-weight: normal;
    margin-top: 40px;
    font-size: 20px;
    border-bottom: 2px solid #a91717;
    width: 105px;
}
h3 a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}
h3 a:hover {
    color: #1167a8;
    text-decoration: underline;
}
h4 {
    font-weight: normal;
    font-size: 20px;
}